$text-color: #fff;
$main-color: #002d5a;

.slider {
  &__container {
    @extend %main-content;
    position: relative;
  }
  &__content {
    position: absolute;
    top: -16em;
    @include screen-679 {
      top: -10em;
    }
    .title {
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 300;
      line-height: 14px;
      text-transform: uppercase;
      color: $text-color;
    }
    .slogan {
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: 700;
      line-height: 45px;
      color: $text-color;
      @include screen-679 {
        font-size: 20px;
        line-height: initial;
      }
    }
    .read-more {
      display: inline-block;
      text-align: left;
      padding: 10px 35px;
      border-radius: 20px;
      font-size: 15px;
      font-weight: 500;
      line-height: 15.76px;
      background: $text-color;
      color: $main-color;
      &:after {
        content: "";
        display: inline-block;
        width: 11px;
        height: 8px;
        background: url(../img/right-arrow.svg) no-repeat center / 100%;
        margin-left: 12px;
      }
    }
  }
  .owl-nav {
    @extend %main-content;
    text-align: right;
    position: relative;
    top: -60px;
    @include screen-679 {
      top: -49px;
    }
  }
}

.advantage {
  margin-top: -51px;
  background: url("../img/Blue background.png") no-repeat center / 100% 100%;
  &__content {
    @extend %main-content;
    padding: 86px 90px;
    @extend %flexbox;
    justify-content: space-between;
    color: $text-color;
    @include screen-1024 {
      padding: 86px 30px;
    }
    @include screen-679 {
      display: block;
    }
  }
  &__item {
    @extend %flexbox;
    justify-content: space-between;
    @include screen-679 {
      justify-content: center;
      padding: 20px;
    }
    &:first-child {
      @include screen-679 {
        margin-left: -30px;
      }
    }
  }
  &__number {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 60px;
  }
  &__word {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    &--opacity {
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
      opacity: .7;
    }
  }
  &__icon {
    &:after {
      content: "";
      width: 70px;
      height: 1px;
      color: $text-color;
      background-color: $text-color;
      display: inline-block;
      transform: rotate(90deg) translateX(-21px) translateY(0px);
      opacity: 0.5;
    }
  }
}