$main-color: #002d5a;
$text-color: #fff;

@mixin screen-1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen-679 {
  @media screen and (max-width: 679px) {
    @content;
  }
}

%main-content {
  max-width: 1050px;
  margin: 0 auto;
  @include screen-1024 {
    padding: 0 30px;
  }
}

%flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  &__top {
    width: 100%;
    padding: 5px 0;
    background: $main-color;
    @include screen-1024 {
      display: none;
    }
  }
  .header__container {
    @extend %main-content;
    @extend %flexbox;
    justify-content: flex-end;
    .header__request {
      @include screen-1024 {
        display: none;
      }
    }
  }
  &__link-logo {
    display: flex;
    @include screen-1024 {
      display: block;
    }
  }
  &__logo {
    width: 130px;
    height: auto;
  }
  &__phone {
    margin-right: 18px;
    font-size: 13px;
    font-weight: 300;
    color: $text-color;
    @include screen-1024 {
      margin-right: 10px;
    }
  }
  &__request {
    font-weight: 400;
    color: $text-color;
    @include screen-1024 {
      font-size: 13px;
      width: 100%;
      display: block;
      margin-top: 10px;
    }
  }
  &__social {
    margin-left: 70px;
    @include screen-1024 {
      margin: 12vw 0 0 0;
    }
    @include screen-679 {
      margin: 5vw 0 0 0;
    }
  }
  .lang {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: $text-color;
    opacity: .7;
    &.active {
      font-weight: 400;
      opacity: 1;
    }
  }
  &__bottom {
    .header__container {
      @extend %main-content;
      @extend %flexbox;
      justify-content: space-between;
    }
  }
  &__nav {
    min-width: 75%;
    @extend %flexbox;
    justify-content: space-between;
    @include screen-1024 {
      display: none;
    }
    .link {
      font-size: 14px;
      font-weight: 500;
      color: $main-color;
      &:hover {
        font-weight: 900;
      }
    }
  }
  &__adaptive-menu {
    display: none;
    cursor: pointer;
    @include screen-1024 {
      display: block;
    }
  }
  &__full-menu {
    display: none;
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding: 20px 30px 0 30px;
    background: $main-color;
    z-index: 9999;
    .header__request {
      @include screen-1024 {
        display: block !important;
      }
      @include screen-679 {
        padding: 20px 30px;
      }
    }
  }
  &__close-menu {
    text-align: right;
  }

  &__menu-top {
    margin-top: 8vw;
    .link {
      display: block;
      padding: 10px;
      font-size: 14px;
      font-weight: 400;
      color: $text-color;
    }
  }
}